[Unit]
Description=The PHP FastCGI Process Manager
After=syslog.target network.target

[Service]
Type=simple
PIDFile=/run/php7-fpm/php7-fpm.%%DOMAIN%%.pid
ExecStart=/usr/local/php7/sbin/php-fpm --nodaemonize --fpm-config /etc/php7-fpm.%%DOMAIN%%.conf
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target

