{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/footer.css' %}">
<style type="text/css">
    .padding5{
        margin: 0 0 0px;
    }
</style>
<div class="content-page" style="margin-left: 0px;">
    <div class="content" style="min-height: 0px; padding: 0px;">
        <div class="box-info animated fadeInDown" style="font-size: 12px;">
            <div class="card-1" style="color: #000000; padding: 5px; text-align: center; cursor: default;border: 0px">
                <p style="margin: 0px;">Copyright © 2020 GMO-Z.COM RUNSYSTEM JSC.</p>
            </div>
        </div>
    </div>
</div>