{% extends "base.html"  %}
{% load static %}
{% load app_tags %}

{% block content %}
    <script src="{% static 'assets/libs/jquery-validation/jquery.validate.min.js' %}"></script>
    <style type="text/css">
        .error{
            color: #fc5844;
        }
    </style>
    <div class="content">
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message | safe }}
            </div>
        {% endfor %}
        <div class="box-info animated fadeInDown">
            <form method="post">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label> {{field.label_tag}} </label>
                        {{ field }}
                        <span style="color:red">{{ field.errors.as_text | linebreaks }}</span>
                    </div>
                {% endfor %}
                <div class="form-group text-right">
                    <button class="btn btn-green-3" id="submit-btn" type="submit" >Submit</button>
                    <input type="reset" id="reset_form" style="display: none;">
                </div>
            </form>
        </div>
    </div>
{% endblock %}

